* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  /* html{
    background-color:#eef0f2;  
  } */
  .container{
    padding: 20px;
    background:#eef0f2;
    padding:5px; 
  }
 
.Upper{
  /* background-color: red; */
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.Dream{
  font-weight: bolder;

}
.middle{
  /* background-color: green; */

  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
}
.inputClass{
    /* background-color: blue; */
    margin-top: 30px;   
}

.location{
  font-weight: bold;  
}

.categoryy{
  padding-top: 15px;
  font-weight: bolder;
  /* background-color: red; */
}

.middle-card{
  display: flex;
  flex-direction: column;
  background:#ffffff;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.inp{
    border-left: none;
    border-right: none;
    border-top: none;
    width: 78%;
    background: transparent;
}
/* removing the input outline when clicked */
textarea:focus,input:focus{
  outline:none;
  background: transparent;
}
label{
    margin-top: 20px;
    /* background-color: yellow; */
    margin-bottom: none;
}

.btn{
    background-color: green;
}

/*   display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 30px;
  height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; */


  /* LOWER  */
  .lower{
    display: grid;
    background-color: red;
    grid-template-columns: repeat(1,2fr 2fr)
  }
  /* .lowerCard{
    display: grid;
    grid-auto-rows: 200px;
  } */
  .item{
    background-color: green;
    display:grid;
    grid-auto-rows: 200px;
    margin:10px;
    
  }
  .item img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 /* trying */
 .x{
  /* background-color: red; */
  padding:5px;
  background-color: #eef0f2;
}
.card-body{
  /* background-color: green; */
  padding: 5px;
}

.row{
  /* background-color: blue; */
  padding: 5px;
}

.new{
  /* background-color: black; */
  padding:5px;
  background-color: #ffffff;
  border-radius: 5px;
}